html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

body {
  /* width: 50vw; */
  padding: 1rem;
  margin-bottom: 0.2rem;
}

button,
input {
  margin: 0.25rem;
}

button {
  width: 250px;
}

canvas {
  display: block;
}

.description {
  font-family: sans-serif;
}

h4 {
  margin: 0;
}

#recent-container {
  font-size: larger;
  font-family: sans-serif;
  position: fixed;
  top: 0.2em;
  left: 0.2em;
  border: 2px solid black;
  box-shadow: 4px 4px 2px grey;
  border-radius: 20px;
  padding: 1.1em;
  transform: translate(-55%, -90%);
  transition: transform 0.5s ease-in-out;
  overflow: scroll;
  height: 90%;
  background-color: white;
  ;
}

#recent-container:hover {
  transform: translateX(0);
}

#most-recent-event::before {
  content: "Recent events: ";
  font-weight: 800;
  font-size: small;
}

#most-recent-event {
  /* all: inherit; */
  font-size: 1rem;
}

#most-recent-log {
  font-family: sans-serif;
  position: absolute;
  bottom: 1em;
  right: 1em;
  box-shadow: 5px 5px 3px grey;
  border-radius: 10px;
  padding: 0.2em;
  width: 20%;
  text-align: center;
  background-color: lightgray;
}

#filter-select {
  position: relative;
  width: 100%;
  padding: 0.25em;
}
